mixin printUser(user)
	h4 #{user.name}

mixin populateNavbar(links, pageId)
	each link in links
		if link.id === pageId
			li.nav-item.active
				a.nav-link(href=`${link.href}`) #{link.text}
		else
			li.nav-item
				a.nav-link(href=`${link.href}`) #{link.text}
